Repository WillNilges/meshdb, pull requests merged in 2024-02, with the labels that each got.

#187 Add KML generator endpoint & example KML files (#158)
  pyproject.toml
  sampledata/meshdb.kml
  sampledata/meshdb_local.kml
  src/meshapi/tests/test_kml_endpoint.py
  src/meshapi/urls.py
  src/meshapi/views/__init__.py
  src/meshapi/views/geography.py
Labels: GIS/Map

#183 Update field names in BuildingAdmin class
  src/meshapi/admin.py
Labels: Admin Panel

#177 Map endpoint audit fixes
  src/meshapi/serializers/map.py
  src/meshapi/tests/test_map_endpoints.py
  src/meshapi/views/map.py
Labels: GIS/Map

#191 Fix: wrong building is attached to imported links in some cases
  src/meshdb/utils/spreadsheet_import/building/lookup.py
  src/meshdb/utils/spreadsheet_import/csv_load.py
  src/meshdb/utils/spreadsheet_import/main.py
  src/meshdb/utils/spreadsheet_import/parse_link.py
  src/meshdb/utils/spreadsheet_import/parse_sector.py
Labels: Import Script

#193 Adjust link serialization logic to match current map display
  src/meshapi/serializers/map.py
  src/meshapi/tests/test_map_endpoints.py
  src/meshapi/urls.py
  src/meshapi/views/map.py
Labels: GIS/Map

#196 Fix: Member search responds with HTTP 500
  src/meshapi/admin.py
Labels: Admin Panel

#194 Email Field Improvements
  src/meshapi/admin.py
  src/meshapi/migrations/0011_rename_secondary_emails_member_additional_email_addresses_and_more.py
  src/meshapi/models.py
  src/meshapi/serializers/model_api.py
  src/meshapi/tests/sample_data.py
  src/meshapi/tests/test_join_form.py
  src/meshapi/tests/test_lookups.py
  src/meshapi/tests/test_member.py
  src/meshapi/tests/test_nn.py
  src/meshapi/tests/test_query_form.py
  src/meshapi/tests/test_recursive_views.py
  src/meshapi/views/forms.py
  src/meshapi/views/lookups.py
  src/meshapi/views/query_api.py
  src/meshapi_hooks/tests/test_webhooks.py
  src/meshdb/utils/spreadsheet_import/main.py
  src/meshdb/utils/spreadsheet_import/parse_member.py
Labels: API, Data Model

#199 Add link and sector endpoints
  src/meshapi/serializers/model_api.py
  src/meshapi/tests/test_link.py
  src/meshapi/tests/test_recursive_views.py
  src/meshapi/tests/test_sector.py
  src/meshapi/urls.py
  src/meshapi/views/model_api.py
Labels: API

#205 Fix: CI check for missing migrations needs to check meshapi_hooks
  .github/workflows/no_forgoten_migrations.yaml
Labels: bug, QA/Monitoring/Meta

#204 Remove unused /user endpoints to reduce confusion
  src/meshapi/serializers/model_api.py
  src/meshapi/urls.py
  src/meshapi/views/model_api.py
  src/meshdb/urls.py
Labels: API

#203 Misc query & lookup endpoint fixes / refactors
  src/meshapi/permissions.py
  src/meshapi/serializers/query_api.py
  src/meshapi/tests/test_lookups.py
  src/meshapi/tests/test_query_form.py
  src/meshapi/urls.py
  src/meshapi/views/query_api.py
Labels: API

#208 Remove recursive serialization
  src/meshapi/serializers/model_api.py
  src/meshapi/tests/test_foreign_key_views_and_perms.py
  src/meshapi/tests/test_link.py
  src/meshapi/tests/test_recursive_views.py
  src/meshapi/tests/test_sector.py
  src/meshapi/views/forms.py
  src/meshapi_hooks/admin.py
  src/meshapi_hooks/hooks.py
  src/meshapi_hooks/migrations/0002_celeryserializerhook_and_more.py
  src/meshapi_hooks/models.py
  src/meshapi_hooks/tasks.py
  src/meshapi_hooks/tests/test_webhooks.py
  src/meshdb/settings.py
Labels: API

#209 Update list views to avoid blank entries, fix TabularInline Install view, and other bugfixes
  src/meshapi/admin.py
  src/meshapi/models.py
  src/meshapi/static/admin/install_tabular.css
  src/meshapi/templates/admin/install_tabular.html
  src/meshapi/tests/test_admin_change_view.py
  src/meshapi/tests/test_admin_list_view.py
  src/meshapi/tests/test_admin_search_view.py
  src/meshdb/settings.py
Labels: bug, Admin Panel
