Repository WillNilges/meshdb, pull requests merged in 2024-03, with the labels that each got.

#220 Fix: wrong date type in import causes crash
  src/meshdb/utils/spreadsheet_import/csv_load.py
Labels: Import Script

#210 Implement API docs using drf-spectacular
  pyproject.toml
  src/meshapi/docs.py
  src/meshapi/migrations/0012_alter_building_address_truth_sources_and_more.py
  src/meshapi/models.py
  src/meshapi/serializers/model_api.py
  src/meshapi/serializers/query_api.py
  src/meshapi/tests/test_map_endpoints.py
  src/meshapi/urls.py
  src/meshapi/views/forms.py
  src/meshapi/views/geography.py
  src/meshapi/views/lookups.py
  src/meshapi/views/map.py
  src/meshapi/views/model_api.py
  src/meshapi/views/query_api.py
  src/meshdb/settings.py
  src/meshdb/templates/drf_spectacular/swagger_ui.html
  src/meshdb/templates/rest_framework/login_base.html
  src/meshdb/urls.py
  src/meshweb/templates/meshweb/index.html
  src/meshweb/views.py
Labels: documentation

#246 Add panoramas to the new schema
  .env.sample
  .github/workflows/run_django_tests.yaml
  pyproject.toml
  src/meshapi/admin.py
  src/meshapi/migrations/0003_alter_install_options_building_panoramas_and_more.py
  src/meshapi/models/building.py
  src/meshapi/models/install.py
  src/meshapi/models/member.py
  src/meshapi/permissions.py
  src/meshapi/serializers/map.py
  src/meshapi/templates/widgets/panorama_viewer.html
  src/meshapi/tests/test_map_endpoints.py
  src/meshapi/tests/test_update_panos_github.py
  src/meshapi/urls.py
  src/meshapi/views/__init__.py
  src/meshapi/views/panoramas.py
  src/meshapi/widgets.py
  src/meshdb/settings.py
Labels: GIS/Map, Integrations
